<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3"></script>
  </head>
  <body>
    <div id="app">
      <div :class="navBgColor" ></div>
            
      <div class="cart">Cart ({{ cart }})</div>

      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <img
              :class="{ 'out-of-stock-img': !inStock }" 
              :title="description"
              :src="image"
            >
          </div>



          <div class="product-info">
            <h1>{{ product }}</h1>

            <p v-if="inventory >10">In Stock</p>
            <p v-else-if="inventory <= 10 && inventory >5">Almost sold out!</p>
            <p v-else>Out of Stock</p>

            <p v-show="onSale">On Sale!</p>

            <ul>
              <li v-for="detail in details" :key="detail">{{ detail }}</li>
            </ul>

            <div 
              v-for="variant in variants" 
              :key="variant.id" 
              @mouseover="updateImage(variant.image)" 
              class="color-circle" 
              :style="{ backgroundColor: variant.color }">
            </div>

            <li v-for="model in models" :key="model.id">{{model.model}}</li>

            <button 
              class="button" 
              :class="{ disabledButton: !inStock }" 
              :disabled="!inStock" 
              @click="addToCart">
              Add to Cart
            </button>

            <button
              class="button"
              :class="{ disabledButton: !inStock }" 
              :disabled="!inStock" 
              @click="removeFromCart">
                Remove
            </button>

            <a :href="url">Ford Lightning Brochure</a>
            
          </div>
        </div>
      </div>

    </div>

    <!-- Import Js -->
    <script src="./main.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#app')
    </script>

  </body>
</html>
